footer.site-footer
    div.container
        div.copyright
            p © Georgi Nikoloff #{ new Date().getFullYear() }
        div.social
            p Follow
            ul
                li
                    a(href="https://twitter.com/georgiNikoloff" target="_blank") Twitter
                li
                    a(href="http://codepen.io/gbnikolov" target="_blank") Codepen
                li
                    a(href="https://github.com/gnikoloff" target="_blank") Github