* { box-sizing: border-box; margin: 0; padding: 0; }
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
h1, h2, h3, h4, h5 {
    font-weight: 500;
}
h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}
h2 {
    font-size: 1.25rem;
}
a { text-decoration: none; color: blue; }
p {
    margin-bottom: 1rem;
}
/* layout */ 
.container {
    width: 94%;
    margin: 0 auto;
}
@media screen and (min-width: 600px) {
    .container { width: 85%; }
}
@media screen and (min-width: 1100px) {
    .container { width: 65%; }
}
@media screen and (min-width: 1366px) {
    .container { width: 54%; }
}
/* homepage */
.article-preview {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2.25rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.article-preview h2 {
    font-size: 1.1rem;
}
.article-preview:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.article-preview h5 {
    color: rgba(0, 0, 0, 0.52);
}

/* article page */
.article-meta {
    margin-top: 2rem;
}
.article-meta h5 {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.115rem;
    color: rgba(0, 0, 0, 0.6);   
}

/* header */
.site-header {
    padding: 5.25rem 0;
}
.site-header nav {
    margin-top: 1rem;
}
.site-header nav ul {
    display: flex;
}
.site-header nav ul li {
    position: relative;
    list-style: none;
    margin-right: 1.25rem;
}
.site-header nav ul li:before {
    content: '/';
    position: absolute;
    top: 0.05rem;
    right: -0.9rem;
    color: rgba(0, 0, 0, 0.24);
}
.site-header nav ul li:last-of-type:before { content: none; }
.site-header nav ul li:last-of-type {
    margin-right: 0;
}

/* footer */
.site-footer {    
    font-size: 0.92rem;
    padding: 5.25rem 0;
}
.site-footer .container {
    display: block;
    justify-content: space-between;
    align-items: baseline;
}
@media screen and (min-width: 700px) {
    .site-footer .container {
        display: flex;
    }
}
.site-footer .social {
    display: flex;
    align-items: baseline;
}
.site-footer .social p {
    margin-right: 1rem;
}
.site-footer .social ul {
    display: flex;
}
.site-footer .social ul li {
    list-style: none;
    margin-right: 1rem;
}
.site-footer .social ul li:last-of-type {
    margin-right: 0;
}

.about-page h1 {
    margin-bottom: 2rem;
}
.about-page ul {
    margin-top: 3rem;
    margin-left: 1.2rem;
}
